body {
  background-color: #FBD6D2;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #610C63;
  border-width: 3px;
}

h1 {
  color: #4C0070;
  font-size: 25px;
}

h3 {
  color: #4C0070;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: #9A0680;
  text-decoration: none;
}

a:hover {
  color: #0096FF;
}

em {
  color: #9A0680;
}

.description {
  color: #9A0680;
}

.education {
  color: #9A0680;
}

.experience {
  color: #9A0680;
}

.when {
  color: #9C19E0;
}

.hobbies {
  color: #9A0680;
}

.skills {
  color: #9A0680;
}

.phoneNumber {
  color: #9A0680;
}

.checkbox {
  accent-color: #7A4495;
}

label {
  color: #9A0680;
}